# Database URL
DATABASE_URL="postgresql://database_user:database_password@database_url:database_port/database_name?schema=public"

# Better Auth
BETTER_AUTH_SECRET="replace-with-strong-secret" # Strong secret generated with openssl rand -base64 32
BETTER_AUTH_URL="http://localhost:3000" # Development URL example
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000/api/auth" # Development URL example

# Resend
RESEND_API_KEY="re_xxxxxxxxx"
RESEND_FROM="Rettiwt <no-reply@your-domain.com>"
RESEND_REPLY_TO="support@your-domain.com"
